blinker
click
colorama
DateTime
Flask
Flask-Cors
Flask-JWT-Extended
Flask-SQLAlchemy
greenlet
gunicorn
install
itsdangerous
Jinja2
MarkupSafe
packaging
PyJWT
pytz
SQLAlchemy
typing_extensions
validators
Werkzeug
zope.interface
MySQLdb
